<div class="panel panel-default row">
    <div class="col-xs-3">
        <div class=" btn btn-block btn-default btn-lg" ng-click="productListController.selectItem()" ng-class="productListController.getCategoryClass()">
            Home
        </div>
         <div ng-repeat="product in productListController.data.products | unique: 'category'" class=" btn btn-block btn-default btn-lg" ng-click="productListController.selectItem(product)"
              ng-class="productListController.getCategoryClass(product)">
         <!-- Don't forget to put single quotes for category -->
         <!-- The filter should be placed inside the data -->
         <!--The product in the <p> had already been filtered -->
            <p>{{product}}</p>
         </div>
    </div>
    <div class="col-xs-8">
        <!--<div class="well" ng-repeat="item in productListController.data.products | filter: productListController.productsFilter(item)">-->
        <div class="well" ng-repeat=" item in productListController.data.products | productFilter: productListController.selectedCategory | range: productListController.selectedPage : productListController.pageSize ">
            <h3>
                <strong>{{item.name}}</strong>
                <span class="pull-right label label-primary">{{item.price | currency}}</span>
            </h3>
            <button class="btn btn-success pull-right" ng-click="productListController.addProduct(item)">Add to cart</button>
            <span class="lead">{{item.description}}</span>
        </div>
        <div class="pull-right btn-group">
            <a ng-repeat="page in productListController.data.products | productFilter: productListController.selectedCategory | pageCount: productListController.pageSize"
               ng-click="productListController.selectPage($index + 1)" class="btn btn-default" ng-class="productListController.getPageClass($index + 1)">
                {{$index + 1}}
            </a>
        </div>
    </div>
</div>
